Source: ros-groovy-visp-camera-calibration
Section: misc
Priority: extra
Maintainer: Fabien Spindler <Fabien.Spindler@inria.fr>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-camera-calibration-parsers, ros-groovy-catkin, ros-groovy-message-generation, ros-groovy-visp-bridge
Homepage: http://ros.org/wiki/visp_camera_calibration
Standards-Version: 3.9.2

Package: ros-groovy-visp-camera-calibration
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-camera-calibration-parsers, ros-groovy-message-generation, ros-groovy-visp-bridge
Description: visp_camera_calibration allows easy calibration of cameras using a customizable pattern and ViSP library.
