Source: ros-groovy-visp-bridge
Section: misc
Priority: extra
Maintainer: Fabien Spindler <Fabien.Spindler@inria.fr>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin, ros-groovy-geometry-msgs, ros-groovy-roscpp, ros-groovy-sensor-msgs, ros-groovy-std-msgs
Homepage: http://ros.org/wiki/visp_bridge
Standards-Version: 3.9.2

Package: ros-groovy-visp-bridge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-geometry-msgs, ros-groovy-roscpp, ros-groovy-sensor-msgs, ros-groovy-std-msgs
Description: Converts between ROS structures and ViSP structures.
